body {
	background-color:#DCDCDC;
	margin:0;
	padding:0;
}

header#cabecalho {
	width:100%;
	height:130px;
	/*background-color:pink;*/
}

header#cabecalho img#logo{
	display:block;
	margin:auto;
	
}

section#banner {
	width:100%;
	height:700px;
	/*background-color:orange;*/
	background-image:url("assets/banner.png");
	background-size:cover;
}

section#conteudo {
	width:1200px;
	height:1000px;
	/*background-color:white;*/
	margin:auto;
	margin-top:50px;
}

section#conteudo div#texto1{
	width:1200px;
	height:300px;
	/*background-color:green;*/
}

section#conteudo div#texto1 h2{
	font-family:Overpass, poppins;
	color:#df7864;
	font-size:35px;
	font-weight:800;
	line-height: 1;
	text-transform: uppercase;
	text-align:center;
	
}

section#conteudo div#texto1 p{
	font-family:roboto, arial;
	color:#494949;
	font-size:22px;
	text-align:center;
	line-height:28px;
}

section#conteudo div#bloco2 {
	width:1200px;
	height:500px;
	/*background-color:pink;*/
	
	
}

section#conteudo div#bloco2 h3{
	font-family:Overpass, poppins;
	color:#df7864;
	font-size:40px;
	text-align:center;
	font-weight: 700;
	text-transform: uppercase;
	font-style:italic;
}

section#conteudo div#bloco2 div#contato {
	width:400px;
	height:400px;
	/*background-color:yellow;*/
	float:left;
	
}

section#conteudo div#bloco2 div#contato p{
	font-family:roboto, arial;
	color:#494949;
	font-size:20px;
	text-align:center;
	line-height:30px;
}

section#conteudo div#bloco2 div#contato img#minilogo{
	display:block;
	margin:auto;
}

section#conteudo div#bloco2 div#mapa {
	width:770px;
	height:400px;
	/*background-color:grey;*/
	float:right;
}

footer#rodape {
	width:100%;
	height:auto;
	background-color:#0E1A84;
	color:white;
	font-family:roboto, arial;
	font-size:18px;
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
}
